{{template "layout" .}}

{{define "content"}}

<div class="container">
    <hr />
    <div class="row">
        <!--Card-->
        {{range .Pets}}
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="{{.Image}}" class="img-fluid" alt="">
                    <a href="{{.Image}}">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">{{.Petname}}</h4>
                    <!--Text-->
                    <p class="card-text">{{.Caption}}</p>
                    <p class="card-text">{{.Owner}}</p>
                    <div><span class="like" id="key">&#128077;</span></div>
                    <div><span class="like" id="like-key">Likes: {{.Likes}}</span></div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}